node_modules
.env
.env.*
!.env.example
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
.DS_Store
Thumbs.db

# Deployment overrides
ecosystem.config.js

# Custom folders that shouldn't be backed up unless necessary
temp/
tmp/

# Prisma
# /prisma/migrations/ (keep these unless you squash)
*.db
*.db-journal
